#articulos h4 {
    text-align: center;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 30px;
}

#blog img {
    max-width: 380px;
}